@model App.Models.Memberships.Membership
@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Xóa gói tập";
}

@*<h1>@ViewData["Title"]</h1>
<p>Bạn có chắc chắn muốn xóa gói tập?</p>
<h4>@Model.Level</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Level" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách gói tập</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("Membership", "Delete", "Membership");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}*@
<div class="container-fluid">
    <h1 class="mt-4">Xóa gói tập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa gói tập</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header"> 
            <a class="btn btn-success" asp-action="Index">Danh sách gói tập</a>
        </div>

        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Level)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fee)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Fee)
                    </dd>
                    <dt class="col-sm-2">
                        Số giờ tập
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Hours)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Duration)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Duration)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Bonus)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Bonus)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="MembershipId" type="hidden" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@{
    _AdminSidebarService.SetActive("Membership", "Index", "Membership");
}
@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}