@using App.Models
@using App.Models.Memberships
@model IEnumerable<Membership>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "Dịch vụ";
    var memDefault = ViewBag.memDefault;
    var levels = ViewBag.levels as SelectList;
    var user = ViewBag.user as AppUser;
}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb/classes-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Dịch vụ</h2>
                        <div class="breadcrumb-option">
                            <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                            <span>Dịch vụ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    
    

<!-- Register Section Begin -->
    <section class="register-section classes-page spad">
        <div class="container pt-5">
            @*<partial name="_StatusMessage"/>*@
            <div class="classes-page-text">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="register-text">

                            <div class="section-title">
                                <h2>ĐĂNG KÍ</h2>
                            </div>
                            <form class="register-form" method="get">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="name">Họ và tên</label>
                                        <input id="name" value="@user.FullName">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="phone-number">Email</label>
                                        <input id="email" value="@user.Email">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="phone-number">Số điện thoại</label>
                                        <input id="email" value="@user.PhoneNumber">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="address">Địa chỉ</label>
                                        <input id="last-name" value="@user.HomeAdress">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="date-singup">Ngày đăng ký</label>
                                        <input type="date" id="datepicker" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="service">Gói dịch vụ</label>
                                        <select id="dichvu" class="service-pick" asp-items="levels"></select>
                                    </div>

                                </div>
                                <button class="register-btn">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center align-items-center set-bg" data-setbg="/img/hero/sever-pic.jpg">

                        <div class="membership-item in-singup">
                            <div class="mi-title">
                                <h4>@memDefault.Level.ToUpper()</h4>
                                <div class="triangle"></div>
                            </div>
                            <h2 class="mi-price">@Math.Round(memDefault.Fee, 0)<span>/@memDefault.Duration tháng</span></h2>
                            <ul>
                                <li>
                                    <p>Thời hạn</p>
                                    <span>@memDefault.Duration tháng</span>
                                </li>

                                <li>
                                    <p>Số giờ tập</p>
                                    <span>@memDefault.Hours giờ/ ngày</span>
                                </li>

                                <li>
                                    <p>Đặc quyền</p>
                                    <span>@memDefault.Bonus</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Register Section End -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.mainmenu').find('li').removeClass('active');
            $('.mainmenu').find('li').eq(1).addClass('active');
            
            $("#dichvu").val($("#dichvu option:first").val());
            
            $(".register-btn").click(function (e) {
                    e.preventDefault();
                    var service = $("#dichvu").val();
                    console.log(service);
                    window.location.href = '/dich-vu/' + service + '/xac-nhan-don-hang';
                    return false;
            });

            $("#dichvu").change(function () {
                $.ajax({
                    type: "Get",
                        url: "/membership/" + $(this).val(),  //remember change the controller to your owns.  
                    success: function (data) {
                        $(".membership-item").html("");
                        $(".membership-item").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });

                $(".register-btn").click(function (e) {
                    e.preventDefault();
                    var service = $("#dichvu").val();
                    console.log(service);
                    window.location.href = '/dich-vu/' + service + '/xac-nhan-don-hang';
                    return false;
                });
            });
        });
    </script>

}
