@model IEnumerable<App.Models.Products.Category>
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh mục sản phẩm";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách danh mục sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách danh mục sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Category" asp-area="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='admin/product/category/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            @*<div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                        </div>
                }
            </div>*@
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Slug)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </a> 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slug)
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*@await Component.InvokeAsync("Pager", Model)*@
        </div>
    </div>
</div>

@{
    _AdminSidebarService.SetActive("Category", "Index", "Product");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}