@model IEnumerable<App.Models.Classes.Instructor>
@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh sách huấn luyện viên";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách huấn luyện viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách huấn luyện viên</li>
    </ol>
    <partial name="_AlertMessage" />
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/admin/Instructor/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Expertise)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Expertise)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </th>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_PagingXTL" model="@ViewBag.pagingModel" />
        </div>
    </div>
</div>

@{
    _AdminSidebarService.SetActive("Instructor", "Index", "Class");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}